/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************/

button {
  border: none;
  outline: none;
  padding: 0;
}

html {
  font-family: 'VT323', monospace;
  background-color: #050505;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: #888;
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: #fff;
  transition: none;
}

.title {
  margin: auto;
  margin-top: 50px;
  font-size: 64px;
  text-align: center;
  max-width: 1400px;
  user-select: none;
}

.footer {
  margin: auto;
  font-size: 22px;
  text-align: center;
  color: #c5c5c5;
  max-width: 1400px;
}

.about-me {
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 20px;
}

.about-me a {
  display: flex;
}

.about-me .fa {
  text-align: center;
  min-width: 22px;
}

.about-me a:hover .fa {
  font-size: 19px;
}

/************ SOUNDBOARD ***************/

.soundboard {
  margin-top: 0px;
  user-select: none;
}

.soundboard-controls {
  margin: auto;
  max-width: 1400px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundboard-controls-button {
  cursor: pointer;
  background: none;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  height: 40px;
  width: 48px;
  line-height: 36px;
  text-align: center;
  color: #bbb;
  font-size: 14px;
  text-rendering: optimizeSpeed;
  transition: background .8s;
}

.soundboard-controls-button:hover {
  background-color: #555;
  transition: none;
  -webkit-transition: none;
}

.soundboard-controls-button:active {
  background-color: #777;
  padding-top: 1px;
  padding-left: 1px;
}

.soundboard-controls-input {
  outline: none;
  font-family: 'VT323', monospace;
  background: none;
  border: 0;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  height: 40px;
  width: 48px;
  line-height: 36px;
  font-size: 20px;
  color: #ccc;
  text-align: center;
  transition: background .8s;
  -webkit-transition: background .8s;
}

.soundboard-controls-input:hover {
  background-color: #555;
  color: #ddd;
  transition: none;
  -webkit-transition: none;
}

.soundboard-controls-input:focus {
  background-color: #555;
  color: #ddd;
}

.soundboard-controls-tempo-container {
  height: 40px;
  background: none;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  color: #ccc;
  transition: background .8s;
  -webkit-transition: background .8s;
}

.soundboard-controls-tempo-container:hover {
  position: relative;
  transition: none;
  -webkit-transition: none;
  background-color: #444;
}

.soundboard-controls-tempo-title {
  text-align: center;
  font-size: 16px;
}

.soundboard-controls-tempo-slider {
  position: relative;
  bottom: -2px;
  margin: 0;
  cursor: pointer;
  width: 200px;
  height: 18px;
  background: #454545;
  outline: none;
  transform: scaleX(-1);
  -webkit-appearance: none;
  appearance: none;
  transition: background .8s;
  -webkit-transition: background .8s;
}

.soundboard-controls-tempo-container:hover .soundboard-controls-tempo-slider {
  background-color: #656565;
  transition: none;
  -webkit-transition: none;
}

.soundboard-controls-tempo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #bbb;
  width: 18px;
  height: 18px;
  transition: background .8s;
  -webkit-transition: background .8s;
}

.soundboard-controls-tempo-container:hover .soundboard-controls-tempo-slider::-webkit-slider-thumb {
  background: #ccc;
}

.soundboard-controls-tempo-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #bbb;
  cursor: pointer;
}

.soundboard-controls-tempo-container:hover .soundboard-controls-tempo-slider::-moz-range-thumb {
  background: #ccc;
}

/************* INSTRUMENTS **************/

.soundboard-instruments {
  
}

.soundboard-instruments > * {
  margin-bottom: 30px;
}

/* .vibraphone {
  
}

.drums {
  margin-top: 30px;
} */

.line {
  display: flex;
  height: 20px;
  padding-left: 1%;
}

.line:nth-of-type(2n + 1) {
  background-color: #191919;
}

.line-note-title {
  width: 40px;
  min-width: 40px;
}

.line-note-mute {
  cursor: pointer;
  background-color: #454545;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
  color: #fff;
  height: 17px;
  width: 19px;
  margin-right: 5px;
  line-height: 19px;
  font-size: 12px;
  text-align: center;
  transition: background-color .2s, color .2s, border .2s;
  -webkit-transition: background-color .2s, color .2s, border .2s;
}

.line-note-mute:hover {
  background-color: #656565;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.line-note-mute.muted {
  background-color: #333;
  color: #bbb;
}

.line-note-mute.muted:hover {
  background-color: #454545;
}

.line-square {
  cursor: pointer;
  height: 100%;
  width: 10px;
  transition: none;
}

.line-square.start-measure {
  border-left: 2px solid #aaa;
  width: 22px;
}

.line-square:last-of-type {
  border-right: 2px solid #aaa;
}

.line-square.wide {
  width: 20px;
}

.line-square.active {
  background-color: #888;
  transition: background 1s;
}

.line-square.current {
  transition: none;
}

.line-square.active:hover {
  transition: none;
}

.line-square.active.current {
  background-color: #fff;
}
