/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************/

button {
  border: none;
  outline: none;
}

html {
  font-family: 'VT323', monospace;
  background-color: #050505;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: #888;
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: #fff;
  transition: none;
}

.title {
  margin-top: 50px;
  font-size: 64px;
  text-align: center;
}

.name {
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  color: #c5c5c5;
}

.about-me {
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 20px;
}

.about-me a {
  display: flex;
}

.about-me .fa {
  text-align: center;
  min-width: 22px;
}

.about-me a:hover .fa {
  font-size: 19px;
}

/************ SOUNDBOARD ***************/

.soundboard {
  margin-top: 30px;
}

.soundboard-controls {
  padding: 20px;
  margin-left: 40px;
}

.soundboard-controls-start {
  background-color: #4a4a4a;
  cursor: pointer;
  height: 32px;
  width: 48px;
  border-radius: 5px;
  line-height: 32px;
  text-align: center;
  transition: background .2s;
}

.soundboard-controls-start:hover {
  background-color: #6a6a6a;
}

.soundboard-controls-start:active {
  background-color: #7a7a7a;
}

.soundboard-instruments {
  
}

.vibraphone {
  
}

.drums {
  margin-top: 30px;
}

.line {
  display: flex;
  height: 20px;
  padding-left: 40px;
}

.line:nth-of-type(2n + 1) {
  background-color: #191919;
}

.line-note-title {
  width: 50px;
}

.line-note-mute {
  cursor: pointer;
  border-radius: 50%;
  background-color: #353535;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  color: #fff;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

.line-note-mute.muted {
  background-color: #222;
  color: #bbb;
}

.line-square {
  cursor: pointer;
  height: 100%;
  width: 10px;
  transition: background .3s;
}

.line-square.start-measure {
  border-left: 2px solid #aaa;
}

.line-square:last-of-type {
  border-right: 2px solid #aaa;
}

.line-square.wide {
  width: 20px;
}

.line-square.active {
  background-color: #888;
  /* transition: background 1s; */
}

.line-square.current {
  /* background-color: yellow; */
  transition: none;
}

.line-square.active.current {
  background-color: #fff;
}
